In [1]:
my_list = [12, 65, 54, 39, 102, 339, 221, 50, 70]
slist = my_list
my_list.sort()
print(my_list)
sorted(slist)
print(slist)

[12, 39, 50, 54, 65, 70, 102, 221, 339]
[12, 39, 50, 54, 65, 70, 102, 221, 339]

In [3]:
numbers = [1, 2, 3, 4, 5]
def square(number):
       return number ** 2

squared = map(square, numbers)
print(squared)                     # <map object at 0x000001D58B879090>
list(squared)                      # [1, 4, 9, 16, 25]
#print(list(squared))

<map object at 0x000001D58B878850>

[1, 4, 9, 16, 25]

In [3]:
str_nums = ["4", "8", "6", "5", "3", "2", "8", "9", "2", "5"]
int_nums = map(int, str_nums)
list(int_nums)

[4, 8, 6, 5, 3, 2, 8, 9, 2, 5]

In [15]:
numbers = [-2, -1, 0, 1, 2]
abs_values = list(map(abs, numbers))
print(abs_values)
list(map(float, numbers))

[2, 1, 0, 1, 2]

[-2.0, -1.0, 0.0, 1.0, 2.0]

In [5]:
list(map(lambda num: num ** 2, numbers))

[4, 1, 0, 1, 4]

In [13]:
with_dots = ["processing..", "...strings", "with....", "..map.."]

# Using lambda to strip dots
cleaned = list(map(lambda s: s.strip("."), with_dots))

print(cleaned)

['processing', 'strings', 'with', 'map']

In [10]:
with_spaces = ["processing ", "  strings", "with   ", " map   "]
list(map(str.strip, with_spaces))

['processing', 'strings', 'with', 'map']

In [11]:
import re

def remove_punctuation(word):
    return re.sub(r'[!?.:'';,"()-]', "", word)

text = "cat's leg is' hurt!"
words = text.split()
list(map(remove_punctuation, words))

["cat's", 'leg', "is'", 'hurt']

In [12]:
import re

def remove_special_characters(text):
    # Only keep letters (a-z, A-Z), numbers (0-9), and spaces
    cleaned_text = re.sub(r'[^A-Za-z0-9\s]', '', text)
    return cleaned_text

# Example usage
input_text = "Hello, World! Welcome to @2025."
result = remove_special_characters(input_text)
print("Original:", input_text)
print("Cleaned :", result)

Original: Hello, World! Welcome to @2025.
Cleaned : Hello World Welcome to 2025

In [13]:
import re

def remove_punctuation(word):
    # Remove all punctuation characters using regex
    return re.sub(r'[^\w\s]', '', word)

text = "cat's leg is' hurt!"
words = text.split()
cleaned_words = list(map(remove_punctuation, words))

print("Original:", words)
print("Cleaned :", cleaned_words)

Original: ["cat's", 'leg', "is'", 'hurt!']
Cleaned : ['cats', 'leg', 'is', 'hurt']

In [14]:
subjects = ['Math', 'Science', 'History']
names = ['Alice', 'Bob', 'Charlie']
scores = [90, 88, 75]

for subject, name, score in zip(subjects, names, scores):
    print(f"{name} scored {score} in {subject}")

Alice scored 90 in Math
Bob scored 88 in Science
Charlie scored 75 in History

In [15]:
employees = {1: 'Tom', 2: 'Macy', 3: 'Sam'}
print(employees.setdefault(1, 'Max'))
print(employees)

Tom
{1: 'Tom', 2: 'Macy', 3: 'Sam'}

In [16]:
test_list = ['1', '4', '3', '6', '7']
int_list = [int(i) for i in test_list]
print(int_list)

[1, 4, 3, 6, 7]

In [17]:
Inpu =  ['Geeks', 'for', 'Geeks']
str_list = '-'.join(Inpu)
print(str_list)

Geeks-for-Geeks

In [18]:
str1=' '.join([str(elem) for elem in Inpu])
print(str1)

Geeks for Geeks

In [19]:
str2=' '.join(map(str, Inpu))
print(str2)

Geeks for Geeks

In [20]:
from functools import reduce
s = Inpu
print(reduce(lambda a, b : a+ " " +str(b), s))

Geeks for Geeks

In [21]:
say = "gandhi is Mahatma"
s1 = []
for i in say:
    print(i)
    s1.append(i)
print(s1)

g
a
n
d
h
i

i
s

M
a
h
a
t
m
a
['g', 'a', 'n', 'd', 'h', 'i', ' ', 'i', 's', ' ', 'M', 'a', 'h', 'a', 't', 'm', 'a']

In [22]:
x=[i for i in say]
print(x)

['g', 'a', 'n', 'd', 'h', 'i', ' ', 'i', 's', ' ', 'M', 'a', 'h', 'a', 't', 'm', 'a']

In [23]:
a = "5"
b = "66"
c = int(a) + int(b)
c = str(c)
print(str(c))

71

In [24]:
import math

# Function to count pairs(x, y) where x ^ y > y ^ x
def count_pairs(X, Y):
    ans = 0
    # Iterate over all the possible pairs
    for x in X:
        for y in Y:
            # If x ^ y > y ^ x, increment ans
            if math.pow(x, y) > math.pow(y, x):
                ans += 1
                print(x,y)
    return ans


# Sample Input
X = [2, 1, 6]
Y = [1, 5]

print(count_pairs(X, Y))

2 1
2 5
6 1
3

In [25]:
arr1 = [1, 2, 3, 4]
arr2 = [2, 4, 6, 7, 8]
a1 = set(arr1)
a2 = set(arr2)
print(a1)
c = a1.intersection(a2)
c = list(c)
print(c)

{1, 2, 3, 4}
[2, 4]

In [26]:
arr1.reverse()
print(arr1)

[4, 3, 2, 1]

In [10]:
arr1 = [1, 2, 3, 4]
#print(arr1)
b=arr1[::-1]
print(b)

[4, 3, 2, 1]

In [28]:
print(arr1)
rev = list(reversed(arr1))
print(rev)

[4, 3, 2, 1]
[1, 2, 3, 4]

In [29]:
a = [123, 456, 789]
add = 1
for i in a:
    add = add * i
print(add)

44253432

In [30]:
sum(i for i in a)

1368

In [69]:
a = [0, 1, 2, 3, 4, 5]
result = [i for i in a if i // 2 == 0]
print(result)

[0, 1]

In [32]:
numbers = [1, 2, 3, 4, 5, 6]
list(filter(lambda x: x % 2 == 0, numbers))

[2, 4, 6]

In [33]:
res = [i for i in a if i % 2 == 0]
print(res)

[456]

In [34]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

res = [val for val in a if val % 2 == 0]
print(res)

[2, 4, 6, 8, 10]

In [35]:
numbers = [1, 2, 3, 4, 5]
list(map(lambda x: x ** 2, numbers))

[1, 4, 9, 16, 25]

In [36]:
str_nums = ["4", "8", "6", "5", "3", "2", "8", "9", "2", "5"]
list(map(lambda x: int(x), str_nums))

[4, 8, 6, 5, 3, 2, 8, 9, 2, 5]

In [37]:
k = [int(x) for x in str_nums]
print(k)

[4, 8, 6, 5, 3, 2, 8, 9, 2, 5]

In [38]:
numbers = [-2, -1, 0, 1, 2]
q = [float(x) for x in numbers]
print(q)

[-2.0, -1.0, 0.0, 1.0, 2.0]

In [39]:
words = ["Welcome", "to", "Real", "Python"]
list(map(len,words))

[7, 2, 4, 6]

In [40]:
first_it = [1, 2, 3];   second_it = [4, 5, 6, 7]
list(map(lambda x,y: x ** y, first_it, second_it ))

[1, 32, 729]

In [41]:
string_it = ["processing", "strings", "with", "map"]
list(map(str.upper, string_it))

['PROCESSING', 'STRINGS', 'WITH', 'MAP']

In [42]:
with_spaces = ["processing ", "  strings", "with   ", " map   "]
list(map(lambda s:s.strip(" "), with_spaces))

['processing', 'strings', 'with', 'map']

In [43]:
with_dots = ["processing..", "...strings", "with....", "..map.."]
list(map(lambda s:s.strip("."), with_dots))

['processing', 'strings', 'with', 'map']

In [18]:
words = ['Python', 'is', 'fun']
sentence = '- '.join(words)
print(sentence)

Python- is- fun

In [11]:
a = ["apple", "banana", "cherry", "date"]
res = []
# method 1
for s in a:
    res.append(s[::-1])
print(res)

# method 2
rev_map = list(map(lambda s: s[::-1], a))
print(rev_map)

r = [s[::-1] for s in a]
print(r)

# method 3
for i in range(len(a)):
    temp = ''
    for ch in a[i]:
        temp = ch + temp
    a[i] = temp

print(a)

['elppa', 'ananab', 'yrrehc', 'etad']
['elppa', 'ananab', 'yrrehc', 'etad']
['elppa', 'ananab', 'yrrehc', 'etad']
['elppa', 'ananab', 'yrrehc', 'etad']

In [24]:
test_list = ['1', '4', '3', '6', '7']
list(int(i) for i in test_list)
#list(map(int,test_list))

[1, 4, 3, 6, 7]

In [47]:
list(map(lambda i:int(i), test_list))

[1, 4, 3, 6, 7]

In [48]:
list(map(int, test_list))

[1, 4, 3, 6, 7]

In [49]:
s = "Geeks for"
list(s)

['G', 'e', 'e', 'k', 's', ' ', 'f', 'o', 'r']

In [50]:
s.split()
print(s)

Geeks for

In [51]:
x=[i for i in s]
print(x)

['G', 'e', 'e', 'k', 's', ' ', 'f', 'o', 'r']

In [52]:
str1 = "Geeks for Geeks"
list(str1.split())

['Geeks', 'for', 'Geeks']

In [53]:
employees = {}
employees = dict()
employees = dict({1:'Tom', 2:'Sam', 3:'Bob'})
print(employees)

{1: 'Tom', 2: 'Sam', 3: 'Bob'}

In [54]:
employees = {1:'Tom', 2:'Sam', 3:'Bob'}
print(employees)

{1: 'Tom', 2: 'Sam', 3: 'Bob'}

In [55]:
a = [(1, 'Tom'), (2, 'Macy'), (3, 'Sam')]
b = dict(a)
print(b)

{1: 'Tom', 2: 'Macy', 3: 'Sam'}

In [56]:
c = dict(zip([1,2,3],['Abe','Bob','Claire']))
print(c)

{1: 'Abe', 2: 'Bob', 3: 'Claire'}

In [57]:
numbers = dict(one =1, two  = 2, three =3)
print(numbers)

{'one': 1, 'two': 2, 'three': 3}

In [58]:
emp = {1:'Abe', 1:'Alex'}
print(emp)

{1: 'Alex'}

In [59]:
print(len(employees))

3

In [60]:
if 10 in emp:
    print("found")

In [61]:
print(employees[3])
print(employees.get(1))

Bob
Tom

In [62]:
print(emp[1])

Alex

In [63]:
employees[4]='Dave'
print(employees)

{1: 'Tom', 2: 'Sam', 3: 'Bob', 4: 'Dave'}

In [64]:
print(max(employees))

4

In [65]:
print(employees.values())

dict_values(['Tom', 'Sam', 'Bob', 'Dave'])

In [66]:
def sumSeries(n):
    if n == 0:
          return 0
    else:
        return n  + sumSeries(n-2)

print(sumSeries(10))

30

In [67]:
def sumSeries(n):
    if n <= 0:
          return 0
    else:
        return 1/n  + sumSeries(n-1)

print(sumSeries(12))

3.103210678210678